// Navbar

.nav {
    color: $text-color2;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;

    @include lg {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--links {
            display: none;

            @include lg {
                display: flex;
            }

            li {
                padding: 28px 17px;
            }

            a {
                font-weight: 700;
                color: $text-color2;
            }
        }

        &--profile-picture {
            margin: 10px;
            width: 34px;
            height: 34px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &--toggle-button {
            background-color: transparent;
            border: none;
            padding-left: 5px;
            height: 54px;

            @include lg {
                display: none;
            }

            span {
                display: block;
                width: 22px;
                height: 3px;
                margin-bottom: 4px;
                position: relative;

                background: $text-color2;
                border-radius: 3px;

                z-index: 1;
                transform-origin: 4px 0px;
            }
        }
    }
}

// Recently Played Section

.recently-played {
    width: 100%;
    text-align: center;
    color: $text-color2;

    &__gradient-color {
        background-color: #509bf5;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#c074b2),
            to(#8ab5e8)
        );
        background-image: linear-gradient(#c074b2, #8ab5e8);
    }

    &__gradient-black {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(transparent),
            to(#000)
        );
        background-image: linear-gradient(transparent, #000);
    }

    &__content {
        padding-top: 100px;
        padding-bottom: 50px;

        @include lg {
            display: flex;
            padding-top: 140px;
            padding-bottom: 110px;
        }
    }

    &__content--button {
        display: inline-block;
        margin: 32px 0;
    }

    &__results {
        padding: 0 !important;

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        ul {
            overflow: auto;
            white-space: nowrap;
            display: block;
        }

        @include md {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            ul li {
                display: none;
            }
            ul li:nth-child(1),
            ul li:nth-child(2),
            ul li:nth-child(3),
            ul li:nth-child(4),
            ul li:nth-child(5),
            ul li:nth-child(6) {
                display: list-item;
            }

            .song-result {
                width: 100%;
            }

            .song-result__artist,
            .song-result__title,
            .btn {
                display: none;
            }
        }
    }
}

.recently-played__content--intro {
    min-width: 33.33333333%;

    p {
        font-size: 12px;
        font-weight: 700;
    }

    h1 {
        font-size: 48px;
        font-weight: 900;
        letter-spacing: -0.04em;
        line-height: 1.15;
    }

    h3 {
        font-size: 20px;
        font-weight: 900;
        line-height: 1.4;
    }

    @include lg {
        padding-left: 15px;
        padding-right: 15px;

        p,
        h1,
        h3 {
            text-align: left;
            margin: 0;
        }

        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 24px;
        }
    }
}

.song-result {
    display: inline-block;
    list-style-type: none;
    float: none;
    vertical-align: top;
    width: 55%;
    min-height: 1;
    position: relative;
    padding-top: 12px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    &__album-cover {
        box-shadow: 1px 1px 16px -2px rgb(0 0 0 / 30%);
        cursor: pointer;
    }

    &__artist {
        color: #919496;
        font-size: 18px;
        font-weight: 700;
        margin-top: 24px;
    }

    &__title {
        color: #c1c3c6;
        font-size: 16px;
        font-weight: 400;
    }
}

.trends {
    width: 100%;
    text-align: center;
    color: $text-color2;
    background-image: linear-gradient(#2c5e92 0%, #552f6d 80%);

    .container {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

.more-links {
    background-color: #fff;

    .container {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    h3 {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    p {
        margin: 0.5em 0 1em;
    }
}

.footer {
    background: #000;
    color: $text-color2;
    padding: 50px 0 20px;

    &__top-links {
        @include md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__socials {
        margin: 120px 15px 15px;
    }
}

.top-links__section {
    flex: 1 0 0%;
    &--header {
        margin: 50px 0 22px;
        font-size: 12px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        a {
            color: #919496;
        }
    }

    &--link {
        padding: 3px 0 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;

        a {
            color: $text-color2;
        }
    }
}

.footer__bottom-links {
    display: flex;
    color: #919496;
    font-size: 10px;

    a {
        color: #919496;
    }

    &--links {
        margin: 0 45px 0 0;
    }

    &--copyright {
        margin: 0 15px 0 auto;
        padding: 1em 0;
    }
}

.footer__bottom-links--links {
    li {
        display: inline-block;
        margin-right: 24px;
    }

    a {
        display: block;
        padding: 1em 0;
    }
}
