* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  /* 16px */
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: black;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4;
}

h4 {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  margin: 0.5em 0 0.25em;
}

a {
  color: #1db954;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 750px;
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.btn {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}
.btn-lg {
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 19px 56px 21px;
}
.btn-green {
  color: #fff;
  background-color: #1db954;
}
.btn-link {
  color: #1db954;
  padding: 10px 0;
  font-weight: 700;
  min-width: 0;
}
.btn-sm {
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  letter-spacing: 2px;
}

.nav {
  color: white;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__brand {
  width: 89px;
  height: 27px;
  fill: white;
}
.nav__brand svg {
  width: 89px;
  height: 27px;
  max-width: 100%;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__menu--profile-picture {
  margin: 10px;
  width: 34px;
  height: 34px;
}
.nav__menu--profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav__menu--toggle-button {
  background-color: transparent;
  border: none;
  padding-left: 5px;
  height: 54px;
}
.nav__menu--toggle-button span {
  display: block;
  width: 22px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

.recently-played {
  width: 100%;
  text-align: center;
  color: white;
}
.recently-played__gradient-color {
  background-color: #509bf5;
  background-image: linear-gradient(#c074b2, #8ab5e8);
}
.recently-played__gradient-black {
  background-image: linear-gradient(transparent, #000);
}
.recently-played__content {
  padding-top: 100px;
  padding-bottom: 50px;
}
.recently-played__content--button {
  display: inline-block;
  margin: 32px 0;
}
.recently-played__results {
  padding: 0 !important;
}
.recently-played__results ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.recently-played__results ul {
  overflow: auto;
  white-space: nowrap;
  display: block;
}
@media (min-width: 768px) {
  .recently-played__results ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .recently-played__results ul li {
    display: none;
  }
  .recently-played__results ul li:nth-child(1),
.recently-played__results ul li:nth-child(2),
.recently-played__results ul li:nth-child(3),
.recently-played__results ul li:nth-child(4),
.recently-played__results ul li:nth-child(5),
.recently-played__results ul li:nth-child(6) {
    display: list-item;
  }
  .recently-played__results .song-result {
    width: 100%;
  }
  .recently-played__results .song-result__artist,
.recently-played__results .song-result__title,
.recently-played__results .btn {
    display: none;
  }
}

.recently-played__content--intro small {
  font-size: 12px;
  font-weight: 700;
}
.recently-played__content--intro h1 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1.15;
}
.recently-played__content--intro h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.4;
}

.song-result {
  display: inline-block;
  list-style-type: none;
  float: none;
  vertical-align: top;
  width: 55%;
  min-height: 1;
  position: relative;
  padding-top: 12px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.song-result__album-cover {
  box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.song-result__artist {
  color: #919496;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}
.song-result__title {
  color: #c1c3c6;
  font-size: 16px;
  font-weight: 400;
}

.trends {
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(#2c5e92 0%, #552f6d 80%);
}
.trends .container {
  padding-top: 60px;
  padding-bottom: 80px;
}

.more-links {
  background-color: #fff;
}
.more-links .container {
  padding-top: 60px;
  padding-bottom: 80px;
}
.more-links h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}
.more-links p {
  margin: 0.5em 0 1em;
}

.footer {
  background: #000;
  color: white;
  padding: 50px 0 20px;
}
.footer__brand {
  width: 89px;
  height: 27px;
  fill: white;
}
.footer__brand svg {
  width: 89px;
  height: 27px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .footer__top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__socials {
  margin: 120px 15px 15px;
}

.top-links__section {
  flex: 1 0 0%;
}
.top-links__section--header {
  margin: 50px 0 22px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.top-links__section--header a {
  color: #919496;
}
.top-links__section--link {
  padding: 3px 0 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.top-links__section--link a {
  color: white;
}

.footer__bottom-links {
  display: flex;
  color: #919496;
  font-size: 10px;
}
.footer__bottom-links a {
  color: #919496;
}
.footer__bottom-links--links {
  margin: 0 45px 0 0;
}
.footer__bottom-links--copyright {
  margin: 0 15px 0 auto;
  padding: 1em 0;
}

.footer__bottom-links--links li {
  display: inline-block;
  margin-right: 24px;
}
.footer__bottom-links--links a {
  display: block;
  padding: 1em 0;
}/*# sourceMappingURL=main.css.map */